#attraction-select {
    .attraction-select-img {
        width:100%;
    }
    h4 {
        @include breakpoint(small only){
            margin-top:1em;
        }
    }
    p {
        i {
            color:black;
            font-size:25px;
        }
    }
    .row {
        @include breakpoint(xxlarge up){
            margin-left:0;
        }
        @include breakpoint(medium down){
            padding:1em;
        }
    }
}
