.banner-containers{
	width: 100%;
	padding: 0;
	margin: 0 auto;
	text-align: center;

	.banner-picture{
		width: 100%;
		height: auto;
	}
    max-height: 640px;
    overflow: hidden;
    position: relative;
    @include breakpoint (xxlarge up){
        height: 640px;
    }
    @include breakpoint (medium up){
        height: 425px;
    }

    img {
        @include breakpoint (small only){
            position:relative;
        }
        @include breakpoint (medium up){
            position: absolute;
            left: -9999px;
            right: -9999px;
            top: -9999px;
            bottom: -9999px;
        }
        margin: auto;
    }
}
.banner-page-title{
    max-width: 1248px;
    margin: 0 auto;
    padding: 20px 0;
    background-color: $primary-color;
    color: white;
    text-align: center;
    font-size: 3rem;
}
#trips-banner-page-title{
    @include breakpoint(small only) {
        font-size: 2.5em;
    }
}
.attraction-accommodation-banner{
    height: auto;
    min-height: 300px;
    max-height: 640px;
    background-color: black;

    img{
        height: auto !important;
        width: auto !important;
    }
}
