.body-section{
    max-width: 1248px;
    margin: 0 auto;
    padding: 0;
    color: gray;
    text-align: left;
    font-size: 1rem;

    li{
    	display: block;
    	text-justify: inter-ideograph;
    }
    hr{
        max-width: 100%;
    }

    .content-box{
        padding: 1em 1em;
        background-color: #F2F2F2;
        
    }
}