.gallery-wrapper{
    margin:0 auto;
    position:relative;
    @include breakpoint(large){
        width:1200px;
        height:2000px;
    }
    @include breakpoint(medium only){
        @include breakpoint(portrait){
            width:600px;
        }
        @include breakpoint(landscape){
            width:900px;
        }
        height:2000px;
    }
    @include breakpoint(small){
        width:100%;
        height:none;
        padding-bottom:15px;
    }
}
.gallery-img{
    padding: 3px 3px;
    @include breakpoint(medium){
        max-width: 300px;
        position:absolute;
        opacity:0;
        -webkit-transition-property: opacity; /* Safari */
        -webkit-transition-duration: 0.5s; /* Safari */
        transition-property: opacity;
        transition-duration: 0.5s;
        cursor:pointer;
    }
    @include breakpoint(small){
        max-width: 100%;
        position:relative;
    }
}
.gallery-img:hover {
    img{
        opacity:0.8;
    }
}
.selected-img {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9;
    display:none;
    opacity:0;
}
.selected-frame {
    margin: 0 auto;
    position: relative;
    top: 100px;
    @include breakpoint(xxlarge){
        max-width: 1230px;
        max-height:730px;
    }
    @include breakpoint(xlarge down){
        max-width: 1030px;
        max-height:630px;
    }
}
#selected{
    @include breakpoint(xxlarge){
        max-width:100%;
        max-height:730px;
    }
    @include breakpoint(xlarge down){
        max-width:100%;
        max-height:630px;
    }
    padding:15px;
    background-color:white;
}
