.gallery-wrapper{
    width:1200px;
    margin:0 auto;
    position:relative;
    height:2000px;
}
.gallery-img{
    max-width: 300px;
    padding: 3px 3px;
    position:absolute;
    opacity:0;
    -webkit-transition-property: opacity; /* Safari */
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-property: opacity;
    transition-duration: 0.5s;
}
