.orbit{
    padding: 0;
    
    figcaption{
        @include breakpoint(small) {
            text-align: center;
        }
        @include breakpoint(large) {
            text-align: left;
        }
    }
}
.orbit-bullets-container{
	position: absolute;
	bottom: 2%;

    @include breakpoint(small) {
        right: 5%;

        button{
            width: 0.7em;
            height: 0.7em;
        }
    }
    @include breakpoint(large) {
        right: 2%;

        button{
            width: 1em;
            height: 1em;
        }
    }
}
.orbit-slide{
    overflow: hidden;
    position: relative;

    @include breakpoint(small only) {
        height: 85vh;
    }
    @include breakpoint(medium only) {
        height: 65vh;
    }
    @include breakpoint(large) {
        height: auto;
    }

    .orbit-image{
        @include breakpoint(small only) {
            height: 85vh;
            width: auto;
            max-width: none;
            overflow-x: hidden;
            position: absolute;
            top: -9999px;
            bottom: -9999px;
            left: -9999px;
            right: -9999px;
            margin: auto;
        }
        @include breakpoint(medium only) {
            height: 65vh;
            width: auto;
            max-width: none;
            overflow-x: hidden;
            position: absolute;
            top: -9999px;
            bottom: -9999px;
            left: -9999px;
            right: -9999px;
            margin: auto;
        }
        @include breakpoint(large) {
            height: auto;
            width: 100%;
        }
    }
}

#home-body{
    img{
        width: 100%;
    }

    .row{
        margin: 0;
        max-width:none;
    }

    .maps-container{
        position:relative;
        .map-group {
            position:relative;
            padding:8px;
            margin:0 auto;
            @include breakpoint(xlarge up){
                width:750px;
            }
            div {
                position:absolute;
                z-index:9;
            }
            #area-1 {
                width: 210px;
                height: 390px;
                top: 200px;
            }
            #area-2 {
                width: 60px;
                left: 210px;
                height: 143px;
                top: 145px;
            }
            #area-3 {
                width: 205px;
                left: 210px;
                top: 285px;
                height: 110px;
            }
            #area-4 {
                width: 160px;
                left: 270px;
                height: 165px;
                top: 140px;
            }
            #area-5 {
                width: 330px;
                left:427px;
                height:385px;
            }
            #area-6 {
                width: 160px;
                left: 270px;
                height: 135px;
            }
        }
        img {
            opacity:1;
            position:absolute;
            top:15px;

        }
    }
    .map-content {
        position:relative;
        @include breakpoint(large up){
            height:560px;
        }
        p {
            padding: 10px 0;
            overflow: hidden;
            @include breakpoint(large up){
                max-height: 150px;
            }
        }
    }
    .opa-1 {
        opacity:1 !important;
        z-index:3 !important;
    }
    .map-content-select {
        position:absolute;
        opacity:0;
        z-index:-1;
    }
    .destination-highlight{
        padding: 20px 30px;
        background-color: $secondary-color;
        margin: 20px 0;

        a {
            width: 50%;
            display: block;
            float: right;
                div {
                    background-color: green;
                    color:white;
                    padding: 5px 10px;
                    text-align:center;
                }
        }
    }
    #destination-mobile{
        padding: 1em;
        text-align: center;
        color: $primary-color;
        
        form{
            margin-top: 1em;
            input{
                height: 3em;
                font-size: 1em;
            }
            a{
                width: 100%;
                height: 3em;
                font-size: 1em;
            }
        }
    }

    #campaign-attractions,#accommodation-events{
        margin-top:5%;
        margin-bottom:5%;
        .column{
            padding:0;
        }
    }

    #campaign-attractions{
        .row{
            @include breakpoint(small) {
                border-bottom: 1px solid white;
            }
            @include breakpoint(large) {
                border-bottom: 0;
            }
        }
        img{
            @include breakpoint(small) {
                opacity: 0.9;
            }
            @include breakpoint(large) {
                opacity: 0.75;
            }
        }
        a:hover{
            img{
                @include breakpoint(small) {
                    opacity: 0.9;
                }
                @include breakpoint(large) {
                    opacity: 0.9;
                }
            }
        }
    }

    #accommodation-events{
        .row{
            background-color: $secondary-color;
        }
        .pos-r{
            position:relative;
        }
        .events-container{
            width: 96%;
            margin: 2% 2% 4% 2%;
            background-color: white;
            border: solid;
            border-width: 2px;
            border-color: lightgray;
            position: relative;
            height: 505px;

            .row{
                background-color:white;
            }

            .event-item{
                margin:30px;
                max-height:440px;
                overflow:hidden;
            }
            .event-item-list-select {
                z-index:2 !important;
            }
            .event-item-list {
                z-index:1;
                background-color:white;
                position:absolute;
                width:100%;
                height:100%;
            }
            .event-content{
                padding:30px 0;

                @include breakpoint(small) {
                    margin: 0 1.5em;
                }
                @include breakpoint(large) {
                    margin:30px;
                }

                i {
                    margin-right:10px;
                    font-size:1.5em;
                }
                span {
                    display: inline-block;
                }
            }
            .see-more{
                background-color: green;
                color:white;
                padding: 5px 10px;
                text-align:center;
            }
            a {
                display: block;

                @include breakpoint(small) {
                    width: 100%;
                    line-height: 2em;
                    font-size: 1.5em;
                }
                @include breakpoint(large) {
                    width: 30%;
                    font-size: inherit;
                }
            }
        }
    }
    #accommodation{
        img{
            @include breakpoint(small) {
                opacity: 0.95;
            }
            @include breakpoint(large) {
                opacity: 0.85;
            }
        }
        a:hover{
            img{
                @include breakpoint(small) {
                    opacity: 1;
                }
                @include breakpoint(large) {
                    opacity: 1;
                }
            }
        }
    }
    .events{
        text-align:center;
        h2 {
            color:black;
            margin-top:4%;
            margin-bottom:2%;
        }
    }
    .tag-highlight{
        background-color: $primary-color;
        color:white;
        text-align:center;

        @include breakpoint(small) {
            height:10em;
        }
        @include breakpoint(medium) {
            height:20em;
        }
        @include breakpoint(large) {
            height:300px;
        }

        h2 {
            @include breakpoint(small) {
                margin-top:2em;
            }
            @include breakpoint(large) {
                margin-top:20%;
            }
        }
        h1 {
            color:yellow;
        }
    }
// ============================== sly =========================

    .eventsSlide{
        background: $secondary-color;

        @include breakpoint(small) {
            margin: 1em 0;
        }
        @include breakpoint(large) {
            margin: 0;
        }
    }
    .eventsSlide button, .eventsSlide button { 
        background: $secondary-color; 
        border: 0; 
        color: black; 
        opacity: 1; 
    }
    .eventsSlide button:hover, .eventsSlide button:hover { 
        opacity: 1; 
    }
    .eventsSlide button:disabled, .eventsSlide button:disabled { 
        opacity: 1; 
        color:gray;
    }
    .eventsSlide .forward, .eventsSlide .backward { 
        float: left; 
        width: 3%; 
        height: 35px; 
        font-size: 30px; 
    }
    .eventsSlide .forward { 
        float: right; 
    }
    .eventsSlide .frame { 
        margin: 0; 
        width: 94%; 
        height: 43px; 
        line-height: 43px; 
        overflow: hidden; 
        text-shadow: none; 
        border-bottom: solid;
        border-width: 2px;
        color:black;
    }
    .eventsSlide .frame ul { 
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        font-size: 50px;
    }
    .eventsSlide .frame ul li { 
        float: left;
        width: 150px;
        height: 43px;
        padding: 0;
        background: $secondary-color;
        color: #3a3c47;
        text-align: center;
        cursor: pointer;
        font-size:20px;
    }
    .eventsSlide .frame ul li.active { 
        color: black;
        border-bottom:solid;
        border-width:5px;
        border-color:black;
    }
}

.zindex1{
    z-index: 1;
}

.zindex2{
    z-index: 2;
}
