#responsive-menu{
    max-width:1248px;
    margin:0 auto;
}
.top-bar, .top-bar ul{
    background-color:white;
}
.top-bar{
    ul{
        max-width:1248px;
    }
}
.top-bar-second{
    padding:20px 0 0 0;
    background-color: $secondary-color;
}
.top-bar-first{
    padding-top:20px;
    .medium-4{
        border: solid;
        border-width: 1px;
        border-color: $tertiary-color;
        padding: 0; 
        a{
            display: block;
        }
        a:hover{
            box-shadow: 5px 5px 5px $tertiary-color;
        }
    }
}
.bkk-logo{
    height:100px;
}
.active{
    border-bottom:solid;
    border-color: $primary-color;
}
.menu > li {
    padding: 0 3px;
    letter-spacing: 0.5px;
    .logo{
        padding: 0;
    }
}

.footer{
    border-top:solid 1px;
    border-color: $tertiary-color;
}
.copyright-footer{
    background-color: $primary-color;
    color: white;
    text-align: left;

    #footer-link{
        float: right;
        @include breakpoint(small) {
            overflow: auto;
        }
        @include breakpoint(medium) {
            overflow: auto;
        }
    }

    a{
        color: white;
        font-size: 18px;

        @include breakpoint(small) {
            font-size: 16px;
        }
        @include breakpoint(medium) {
            font-size: 17px;
        }
    }
    ul{
        text-align: center;
        background-color: $primary-color;
        float: left;

        li{
            float: left;
        }
    }
}
.footer-container{
    max-width:1248px;
    text-align:left;
    span {
        @include breakpoint(small) {
            font-size: 13px;
        }
        @include breakpoint(medium) {
            font-size: 15px;
        }
    }
    .third-footer{
        line-height:15px;
    }
    .second-footer{
        max-width:none;
        margin:0;
    }
    .column{
        text-align:center;
    }
    .main-banner{
        width:45%;
    }
    .address{
        font-size:14px;
        text-align:left;
    }
    .thumbnail-banner{
        float: left;
        list-style-type: none;
        text-align: center;
        width: 100%;
        margin: 0;

        li{
            float: left;
            width: 20%;
            @include breakpoint(small) {
                padding: 10px;

                .thumbnail{
                    margin-bottom: 0;
                }
            }
            @include breakpoint(medium) {
                padding: 0;
            }
        }
    }
}

/* Mobile */
#menu-mobile{
    margin-top: 1em;

    a{
        line-height: 1.5em;
        color: white;
    }
    li:active{
        border-left: solid 8px yellow;
        background-color: $secondary-color;
        a{
            color: dimgray;
        }
    }
}
#menu-logo-mobile{
    padding: 0.5em 0 0 1em;

    .bkk-logo{
        outline: 0;
        height: 80px;
    }
    a:focus, a:hover{
        outline: 0;
    }
}
#copyright-mobile{
    position: fixed;
    bottom: 0%;
    width: 100%;
    padding: 1em;
    font-size: 15px;
    color: white;
}

.off-canvas-wrapper{
    background-color: $primary-color;

    .off-canvas{
        padding-top: 10px;
        background-color: $primary-color;
        min-height: 100vh;

        li{
            padding: 0;
        }
    }
}

.mobile-menu-button{
    margin: 1em 1em auto auto;
    position: fixed;
    right: 0%;
    z-index: 99;

    a{
        float: right;
    }

    * {
      transition:.25s ease-in-out;
      box-sizing:border-box;
    }

    body {
      background:#d9e4ea;
    }

    span {
      display:block;
      background:#566973;
      border-radius:2px;
    }

    #button-menu-mobile {
      width:80px;
      height:80px;
      margin:auto auto;
      position:relative;
      position:relative;
      cursor:pointer;
      background:rgba(255,255,255,.4);
      border: solid 1px $tertiary-color;
      &:hover {
        background:rgba(255,255,255,.8);
      }
      #hamburger {
        position:absolute;
        height:100%;
        width:100%;
        span {
          width:40px;
          height:4px;
          position:relative;
          top:14px;
          left:20px;
          margin:10px 0;
          &:nth-child(1){
            transition-delay:.5s;
          }
          &:nth-child(2){
            transition-delay:.625s;
          }
          &:nth-child(3){
            transition-delay:.75s;
          }
        }
      }
      #cross {
        position:absolute;
        height:100%;
        width:100%;
        transform:rotate(45deg);
        span{
          &:nth-child(1){
            height:0%;
            width:4px;
            position:absolute;
            top:18%;
            left:38px;
            transition-delay:0s;
          }
          &:nth-child(2){
            width:0%;
            height:4px;
            position:absolute;
            left:18%;
            top:38px;
            transition-delay:.25s;
          }
        }
      }
    }

    #button-menu-mobile.open {
      #hamburger {
        span {
          width:0%;
          &:nth-child(1){
            transition-delay:0s;
          }
          &:nth-child(2){
            transition-delay:.125s;
          }
          &:nth-child(3){
            transition-delay:.25s;
          }
        }
      }
      #cross {
        span {
          &:nth-child(1){
            height:65%;
            transition-delay:.625s;
          }
        }
        span {
          &:nth-child(2){
            width:65%;
            transition-delay:.375s;
          }
        }    
      }
    }
}
