#responsive-menu{
    max-width:1248px;
    margin:0 auto;
}
.top-bar, .top-bar ul{
    background-color:white;
}
.top-bar{
    ul{
        max-width:1248px;
    }
}
.top-bar-second{
    height:200px;
    padding-top:20px;
    background-color: $secondary-color;
}
.top-bar-first{
    padding-top:20px;
    .medium-4{
        border: solid;
        border-width: 1px;
        border-color: $tertiary-color;
    }
}
.bkk-logo{
    height:100px;
}
.active{
    border-bottom:solid;
    border-color: $primary-color;
}
.menu > li {
    padding: 0 3px;
    letter-spacing: 0.5px;
    .logo{
        padding: 0;
    }
}
.footer{
    border-top:solid 1px;
    border-color: $tertiary-color;
}
.copyright-footer{
    background-color: $primary-color;
    color: white;
}
.footer-container{
    max-width:1248px;
    text-align:left;
    span {
        font-size:15px;
    }
    .third-footer{
        line-height:15px;
    }
    .second-footer{
        max-width:none;
        margin:0;
    }
    .column{
        text-align:center;
    }
    .main-banner{
        width:50%;
    }
    .address{
        font-size:14px;
        text-align:left;
    }
}
