#responsive-menu{
    max-width:1248px;
    margin:0 auto;
}
.top-bar, .top-bar ul{
    background-color:white;
}
.top-bar{
    ul{
        max-width:1248px;
    }
}
.top-bar-second{
    padding:20px 0 0 0;
    background-color: $secondary-color;
}
.top-bar-first{
    padding-top:20px;
    .medium-4{
        border: solid;
        border-width: 1px;
        border-color: $tertiary-color;
        padding: 0; 
        a{
            display: block;
        }
        a:hover{
            box-shadow: 5px 5px 5px $tertiary-color;
        }
    }
}
.bkk-logo{
    height:100px;
}
.active{
    border-bottom:solid;
    border-color: $primary-color;
}
.menu > li {
    padding: 0 3px;
    letter-spacing: 0.5px;
    .logo{
        padding: 0;
    }
}
.footer{
    border-top:solid 1px;
    border-color: $tertiary-color;
}
.copyright-footer{
    background-color: $primary-color;
    color: white;
    font-size: 15px;
    text-align: left;
    a{
        color: white;
        font-size: 18px;
    }
    ul{
        text-align: center;
        background-color: $primary-color;
        float: left;

        li{
            float: left;
        }
    }
}
.footer-container{
    max-width:1248px;
    text-align:left;
    span {
        font-size: 15px;
    }
    .third-footer{
        line-height:15px;
    }
    .second-footer{
        max-width:none;
        margin:0;
    }
    .column{
        text-align:center;
    }
    .main-banner{
        width:45%;
    }
    .address{
        font-size:14px;
        text-align:left;
    }
    .thumbnail-banner{
        float: left;
        list-style-type: none;
        text-align: center;
        width: 100%;
        margin: 0;

        li{
            float: left;
            width: 25%;
        }
    }
}
