@import "resources/assets/sass/settings/settings";
@import 'foundation';

#category-container-1{
	width: 100%;

	.category-description{
		@include breakpoint(small) {
            bottom: 0%;
            padding: 0.5em;

            h3{
            	margin: 0;
            }
        }
        @include breakpoint(large) {
            top: 0%;
			left: 75%;
			width: 25%;
			height: 100%;
        }
	}
}
#category-container-2{
	display: inline-block;
	width: 49%;
	float: left;

	.category-description{
		padding: 0.5em;

		h3{
			margin: 0;
		}

		@include breakpoint(small) {
            bottom: 0%;
        }
        @include breakpoint(large) {
			bottom: 3%;
			left: 49%;
			margin: 0;
		}
	}
}
#category-container-3{
	display: inline-block;
	width: 49%;
	float: right;

	.category-description{
		padding: 0.5em;

		h3{
			margin: 0;
		}

		@include breakpoint(small) {
            top: 0%;
        }
        @include breakpoint(large) {
			top: 5%;
			left: 37%;
			margin: 0;
		}
	}
}
#category-container-4{
	width: 100%;

	.category-description{

		@include breakpoint(small) {
            bottom: 0%;
            padding: 0.5em;
            width: 100%;

            h3{
            	margin: 0;
            }
        }
        @include breakpoint(large) {
			top: 0%;
			left: 75%;
			width: 25%;
			height: 100%;
		}
	}
}
#category-container-5{
	width: 100%;
	margin-bottom: 2em;

	.category-description{
		
		@include breakpoint(small) {
            bottom: 0%;
            padding: 0.5em;
            width: 100%;

            h3{
            	margin: 0;
            }
        }
        @include breakpoint(large) {
			bottom: 0%;
			width: 100%;
			padding: 0.5em;
		}
	}
}

.category-container{
	position: relative;

	@include breakpoint(small) {
        margin-top: 1em;
    }
    @include breakpoint(large) {
        margin-top: 2em;
		margin-bottom: 1em;
    }
	
	.category-picture{
		position: relative;
		top: 0;
		width: 100%;
		img{
			width: 100%;
		}
	}
	.category-description{
		position: absolute;
		padding: 1em;
		background-color: rgba(255,255,255,0.3);
		color: gray;
		overflow: auto;
	}
}