@import "resources/assets/sass/font-awesome/scss/font-awesome.scss";
@import "resources/assets/sass/settings/settings";
@import "resources/assets/sass/fonts";

@import 'foundation';
 
@include foundation-everything;

@include top-bar-container;

@import "resources/assets/sass/top-menu";
@import "resources/assets/sass/banner-page-title";
@import "resources/assets/sass/body-section";

$main-color:#7FCAA8;
a {
    font-size:20px;
}
.empty{
    height:1px;
}
.align-center{
	text-align: center !important;
}
.align-left{
	text-align: left !important;
}
.align-right{
	text-align: right !important;
}
.mg-1{
	margin: 1em 1em;
}
.mg-t-1{
	margin-top:1em !important;
}
.mg-b-1{
	margin-bottom:1em !important;
}
.pd-1{
	padding: 1em 1em;
}
.pd-t-1{
	padding-top: 1em !important;
}
.pd-b-1{
	padding-bottom: 1em !important;
}